

  [[header]]
  <section class="bg-banner text-center text-light">
    <div class="container d-flex">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-6 col-md-94 col-lg-4">
          <div class="search-box" id="searchInput">
            <input id="searchTxt" class="search-txt" type="text" name="" placeholder="Pesquisar">
            <button id="searchBtn" class="search-btn me-2">
              <a>
                <img class="me-2" src="./image/search.svg" alt="Lupa" height="20" width="20">
              </a>
            </button>
            <i class="fas fa-search"></i>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container py-5">
      <h3 class="fw-bold mt-5 text-center">
        Melhores lojas</h3>
      <div class="row text-center my-5">
        <div class="col-md-3 sm-12">
          <span class="border border-dark-lg d-flex flex-column align-items-center">
            <img src="./image/Centauro logo.svg" class="w-25" alt="Centauro">

            <h4>Centauro</h4>
          </span>

        </div>
        <div class="col-md-3">
          <span class="border border-dark-lg d-flex flex-column align-items-center me-0">
            <img src="./image/C&A logo.svg" class="w-25" alt="C&A">

            <h4>C&A</h4>
          </span>
        </div>
        <div class="col-md-3 ">
          <span class="border border-dark-lg d-flex flex-column align-items-center">
            <img src="./image/Adidas logo.svg" class="w-25" alt="Adidas">

            <h4>Adidas</h4>
          </span>
        </div>
        <div class="col-md-3">
          <span class="border border-dark-lg d-flex flex-column align-items-center">
            <img src="./image/Renner logo.svg" class="w-25" alt="Renner">

            <h4>Renner</h4>
          </span>
        </div>
      </div>
    </div>
  </section>

  <a href="/cadastro.html">
    <div class="parallax d-flex md-12 m-0">

    </div>
  </a>


  <section>
    <div class="container">
      <h3 class="fw-bold mt-5 mb-5 text-center">Em alta!</h3>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 gy-5">

        <div class="col d-inline-block">
          <div class="card h-100">
            <a href="/produ.html" class="categorias"><img src="./image/vestido preto colado.svg" class="card-image"
                alt="Vestido"></a>
            <div class="card-body py-4">
              <a href="/produ.html" class="d-flex align-items-center text-dark fw-bold small">
                Vestido colado
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="" class="categorias"><img src="./image/tenis_social.svg" class="card-image" alt="tenis"></a>
            <div class="card-body py-4">
              <a href="#" class="d-flex align-items-center text-dark fw-bold small">
                Sapato social
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="#" class="categorias"><img src="./image/salto_agora_vai.svg" class="card-image"
                alt="sapato de salto"></a>
            <div class="card-body py-4">
              <a href="#" class="d-flex align-items-center text-dark fw-bold small">
                Sapato de salto para mulheres
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="#" class="categorias"><img src="./image/jaqueta 1.svg" class="card-image" alt="jaqueta"></a>
            <div class="card-body py-4">
              <a href="#" class="d-flex align-items-center text-dark fw-bold small">
                Jaqueta de couro para homens
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <div class="col-7 mt-5">
        <button type="submit" class="btn btn-outline-danger btn-lg h-50">
          <a href="/promocoes.html">Veja mais!</a>
        </button>
      </div>
    </div>
  </section>

  <!--Newsletter-->
  <section class="newsletter">
    <div class="container">
      <div class="box-newsletter">
        <h2><b>Inscreva-se em nosssa Newsletter</b></h2>
        <p>Receba ofertas, novidades e dicas importantes</p>
        <form>
          <input type="email" placeholder="Digite o seu email">
          <button>Inscreva-se</button>
        </form>
      </div>
    </div>

  </section>



 [[footer]]